ACCESS_KEY_ID=your_access_key_id_here
SECRET_ACCESS_KEY=your_secret_access_key_here
REGION=your_aws_region_here

# Cognito Identity Pool Configuration
COGNITO_IDENTITY_POOL_ID=sa-east-1:6e888971-8b8d-4fe9-bc91-fa243239e7aa
AWS_REGION=sa-east-1
