/* You can add global styles to this file, and also import other style files */
@import '@aws-amplify/ui-react/styles.css';
body {
  margin: 0;
  padding: 0;
  background-color: #f7f9fc;
}

/* CUSTOMIZAÇÕES DO AWS LIVENESS DETECTOR */
.amplify-liveness-detector {
  width: 100% !important;
}
